fastapi>=0.100.0
uvicorn[standard]>=0.22.0
sqlalchemy==1.4.49
psycopg2-binary>=2.9
python-dotenv>=1.0.0
pydantic>=2.0
ta>=0.10.0
pandas>=2.0.0
pandas_ta
vnstock>=3.0.0
requests>=2.28.0
setuptools>=65.0.0
numpy<2.0